.profile {
  margin: 40px auto 0 auto;
  max-width: 880px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content min-content auto;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .profile {
    margin: 40px 27px 0 27px;
  }
}

@media screen and (max-width: 628px) {
  .profile {
    margin: 42px auto 0 auto;
    min-width: 282px;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
