.header__logo {
  max-width: 142px;
  padding-bottom: 37px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
    max-width: 103.74px;
    padding-bottom: 27.6px;
  }
}
