.popup_edit-profile {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: center;
  display: flex;
}
