.form__input-container {
  display: block;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  min-inline-size: min-content;
  border: none;
  width: 100%;
}

@media screen and (max-width: 628px) {
  .form {
    max-width: 238px;
  }
}
