.form__input-container {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  padding: 0;
  min-inline-size: min-content;
  border: none;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;
}
