.profile__add-button {
  padding: 0;
  height: 50px;
  width: 150px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  background-color: transparent;
  background-image: url(../../../images/add-button.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  justify-self: end;
  transition: 0.5s;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 628px) {
  .profile__add-button {
    width: 282px;
    margin-top: 36px;
    justify-self: center;
    background-size: 16px;
  }
}
