.popup-view-image__container {
  position: relative;
  align-self: center;
  z-index: 2;
}

@media screen and (max-width: 628px) {
  .popup-view-image__container__container {
    max-width: 282px;
  }
}
