.profile__info {
  padding-left: 30px;
  display: grid;
  grid-template-columns: 294px 42px;
  align-items: baseline;
  max-width: 480px;
  position: relative;
}

@media screen and (max-width: 880px) {
  .profile__info {
    grid-template-columns: 100%;
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 628px) {
  .profile__info {
    grid-template-columns: 100%;
    grid-auto-flow: row;
    row-gap: 13px;
    padding-top: 26px;
    padding-left: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    row-gap: 10px;
    max-width: 189px;
  }
}
