.footer {
  max-width: 880px;
  margin: 66px auto 60px auto;
}

@media screen and (max-width: 880px) {
  .footer {
    margin: 66px 19px 60px 19px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    margin: 48px auto 36px auto;
  }
}
