.elements__list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 17px;
  justify-items: center;
}

@media screen and (max-width: 880px) {
  .elements__list {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 628px) {
  .elements__list {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
